<div class="  ">
    <div class="container">

        <nav class="navbar  navbar-default  " role="navigation">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class=" ">
                        <a [routerLink]="['/']"> Home
                        </a>
                    </li>

                    <li class="">
                        <a [routerLink]="['/events']">Event
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">Authorization <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li *ngIf="!isLogin()"><a [routerLink]="['/signin']">Log In</a></li>
                            <li *ngIf="isLogin()"><a [routerLink]="['/']" (click)="logOut()">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</div>

