input[name="userName"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[name="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button-holder {
    margin-top: 5px;
}

.button-center {
    margin: 0 auto;
}

.error {
    border-left: 5px solid #a94442;
}

.signin-field {
    float: left;
    width: 50%;
    display: inline-block;
}

.signin-field > button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.signup-field {
    display: inline-block;
    width: 50%;
}

.signup-field > a {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.valid{
    border-left: 5px solid #42A948;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
