<div>

    <h3 *ngIf="isRole()" >Events <i class="fa fa-plus-circle add-event-button" [routerLink]="['/events/add']"></i></h3>


    <div class="row search-field">
        <div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="list-group">
            <div class="list-group-item " *ngFor="let event of events" >
                <h3><a [routerLink]="['/events', event.id]">{{event.title}}</a></h3>

                <subscriber [countSubscribers]= "event.id"></subscriber>
            </div>


        </div>
       <devplan-page></devplan-page>
    </div>
</div>
